 # Copyright The OpenTelemetry Authors
# SPDX-License-Identifier: Apache-2.0

apiVersion: 1

datasources:
  - name: OpenObserve
    uid: openobserve-metrics
    type: prometheus
    url: http://openobserve.openobserve.svc.cluster.local:5080/api/default/prometheus
    editable: true
    isDefault: true
    jsonData:
      httpHeaderName1: 'Authorization'
    secureJsonData:
      httpHeaderValue1: 'Basic cm9vdEBleGFtcGxlLmNvbTpDb21wbGV4cGFzcyMxMjM='
  - name: Prometheus
    uid: webstore-metrics
    type: prometheus
    url: http://prometheus.prometheus.svc.cluster.local:9090/
    editable: true
    isDefault: false
    jsonData:
      exemplarTraceIdDestinations:
        - datasourceUid: webstore-traces
          name: trace_id
  - name: loki-webhookreceiver
    uid: loki
    type: loki
    url: http://loki.loki.svc:3100
    editable: true
    isDefault: false
  - name: OpenObserve Logs
    uid: openobserve-logs
    type: loki
    url: http://openobserve.openobserve.svc.cluster.local:5080/api/default/
    editable: true
    isDefault: false
    jsonData:
      httpHeaderName1: 'Authorization'
    secureJsonData:
      httpHeaderValue1: 'Basic cm9vdEBleGFtcGxlLmNvbTpDb21wbGV4cGFzcyMxMjM='
  - name: Tempo
    type: tempo
    access: proxy
    orgId: 1
    url: http://tempo.tempo.svc.cluster.local:3200/
    basicAuth: false
    isDefault: false
    version: 1
    editable: false
    apiVersion: 1
    uid: tempo
    jsonData:
      httpMethod: GET
      serviceMap:
        datasourceUid: prometheus
