---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: grafana

resources:
  - ../../../cluster-infra/namespace
  - deployment.yaml
  - pvc.yaml
  - service.yaml

generatorOptions:
  labels:
    app.kubernetes.io/name: grafana

configMapGenerator:
  - name: grafana-ini
    files:
      - grafana.ini
  - name: datasources
    files:
      - datasources.yaml
  - name: providers
    files:
      - dashboards/providers.yaml

  # Demo Dashboards
  - name: dashboard-demo
    files:
      - dashboards/demo/demo.json
  - name: dashboard-opentelemetry-collector-data-flow
    files:
      - dashboards/demo/opentelemetry-collector-data-flow.json
  - name: dashboard-opentelemetry-collector
    files:
      - dashboards/demo/opentelemetry-collector.json
  - name: dashboard-spanmetrics
    files:
      - dashboards/demo/spanmetrics.json

  # DORA dashboards
  - name: dashboard-dora-metrics
    files:
      - dashboards/dora/dora-metrics.json
  - name: dashboard-dora-vcs-trunk-based-development
    files:
      - dashboards/dora/vcs-trunk-based-development.json
  - name: dashboard-dora-vcs-ado
    files:
      - dashboards/dora/vcs-trunk-based-development-ado.json
  - name: dashboard-ado-dora-simple
    files:
      - dashboards/dora/ado-dora-metrics-simple.json
  - name: dashboard-ado-work-items
    files:
      - dashboards/dora/ado-work-items.json
