---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: argo

resources:
  - ns.yaml
  - https://github.com/argoproj/argo-workflows/releases/download/v3.5.11/quick-start-minimal.yaml
